
button{
  margin-left: 5px;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 1px 1px;
}
body{
  background-color:lightgreen;
}
input{
  border: 2px solid black;
  width: 95%;
  margin-left: 5px;
  border-radius: 5px;
}
.form{
  margin-top:620px;
}
p{
  margin:2px;
}