
button{
  margin-left: 5px;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 1px 1px;
}
body{
  background-color:lightgreen;
}
input{
  border: 2px solid black;
  width: 95%;
  margin-left: 5px;
  border-radius: 5px;
}
.form{
  margin-top:550px;
}
p{
  margin-left:20px;
  margin-bottom:5px;
  font-size: 25px;
}
h1{
  margin-top:0px;
  text-align: center;
  font-size: 4rem;
  background-color: green;
}
div img{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  float: left;
  margin-top:15px;
}
ul{
  list-style: none;
  display: flex;
  float: right;
}
ul li{
  margin-right: 15px;
}